.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
docs/**
sonar-project.properties
**/*.vsix
.github/**
test Fixture with speci@l chars
test-resources
.test-extensions
test-extensions
camel-ls-sbom.json
docs
coverage
.camel-jbang
out/src/ui-test
out/src/test
